@mixin span-close($width, $height, $back){
    width: $width;
    height: $height;

    span{
        position: absolute;
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 3px;
        background: $back;
    }

    span:after{
        content: '';
        width: 100%;
        height: 3px;
        background: $back;
    }
}