@import '../index';

.btn{
    @extend %btn !optional;
    @include buttonTheme();
}


.page-chat{
    @extend %page-wrap !optional;
    @include pageWrapperTheme($grayMain);

    padding: 50px;

    .page-wrap{
        width: 100%;
        height: calc(100vh - 172px);
        background: $white;
        @include row(0px);
        grid-template-columns: 400px auto;


        .chat-list{
            @include column(0px);
            grid-template-rows: 80px auto;

            .header{
                background: $blueHover;
                border-right: 2px solid $grayBorder;
                border-bottom: 2px solid $grayBorder;

                form{
                    @extend %searchForm !optional;
                    grid-template-columns: max-content auto max-content;
                    background: $blueHover;
                    align-items: center;

                    input{
                        width: 100%;
                        background: $blueHover;


                        &::-webkit-search-decoration,
                        &::-webkit-search-cancel-button,
                        &::-webkit-search-results-button,
                        &::-webkit-search-results-decoration { display: none; }
                    }

                    .clear-btn{
                        background: $white;
                        color: $black;
                        width: max-content;
                        height: max-content;
                        padding: 8px;
                        box-sizing: border-box;
                    }
                }
            }
            
            .chats-wrap{
                border-right: 2px solid $grayBorder;
                height: 100%;
                overflow-y: auto;

                >div.active{
                    background: $grayAdd;
                }

                .chat-item{
                    background: $grayMain;
                    border-top: 2px solid $grayBorder;
                    @include row(10px);
                    grid-template-columns: 90px auto;
                    cursor: pointer;

                    &:first-child{
                        border-top: 0px solid $grayBorder;
                    }

                    &:hover{
                        transition: 0.4s;
                        background: $blueHover;
                    }

                    >.avatar{
                        @include backImage();
                    }

                    >.section{
                        padding: 10px;
                        box-sizing: border-box;
                        @include column(7px);
                        grid-template-rows: auto 40px;

                        .login{
                            font-size: 21px;
                            text-align: left;
                            font-weight: 600;
                        }

                        .last-message{
                            @include row(10px);
                            align-items: center;
                            grid-template-columns: 40px;

                            .avatar{
                                @include backImage();
                                height: 40px;
                            }

                            span{
                                text-align: left;
                                font-size: 18px;
                            }
                        }
                    }                    
                }
            }
        }

        .current-chat{ 
            @include column(0px);
            grid-template-rows: 80px auto 80px;
            $size: 80px;
            height: calc(100vh - 172px);

            .header{
                @include row(20px);
                box-sizing: border-box;
                padding-right: 20px;
                grid-template-columns: ($size - 2px) max-content auto 130px;
                align-items: center;
                background: $blueHover;
                border-bottom: 2px solid $grayBorder;

                .avatar{
                    @include backImage();
                    height: $size - 2px;
                }

                button{
                    width: 100%;
                    background: $red;

                    &:hover{
                        transition: 0.4s;
                        background: $redHover;
                    }
                }

                .name{
                    font-size: 22px;
                    text-align: left;
                    font-weight: 600;
                    text-decoration: none;
                    color: $black;
                    letter-spacing: 0.3px;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .online, .offline{
                    font-size: 19px;
                    font-weight: 600;
                    text-align: left;
                }

                .online{
                    color: $green;
                }

                .offline{
                    color: $red;
                }
            }

            .chat-form{

                form{
                    width: 100%;
                    height: 100%;
                    grid-template-columns: auto 100px;
                    @include row(0px);

                    input{
                        border: 0;
                        box-sizing: border-box;
                        padding: 25px;
                        color: $black;
                        font-size: 22px;
                        border-top: 2px solid $grayBorder;

                        &:focus{
                            outline: 0;
                        }
                    }

                    input[type="submit"]{
                        @extend %btn !optional;
                        @include buttonTheme();
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .messages-wrap{
                $size: 80px;
                $gap: 15px;

                overflow-y: auto;
                height: calc(100vh - (172px + 160px));
                box-sizing: border-box;
                padding: 30px;
                @include column($gap);
                grid-auto-rows: max-content;

                .pseudo-block{
                    width: 100%;
                    background: inherit;
                    height: 10px;
                }

                .message{
                    
                    .identity-message{
                        width: 100%;
                        @include row($gap);
                        grid-template-columns: $size auto $size;

                        .text{
                            background: $blueHover;
                        }
                    }

                    .interlocutor-message{
                        width: 100%;
                        @include row($gap);
                        grid-template-columns: $size auto $size;

                        .text{
                            background: $grayMain;

                            span:first-child{
                                text-align: right;
                            }

                            span:nth-child(2){
                                text-align: right;
                            }
                        }
                    }
                    
                    .text{
                        @include column(20px);
                        grid-template-rows: auto max-content;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 12px;

                        span:first-child{
                            font-size: 22px;
                            text-align: left;
                        }

                        span:nth-child(2){
                            font-size: 16px;
                            text-align: left;
                        }
                    }

                    .avatar{
                        @include backImage();
                        height: $size;
                    }
                }
            }
        }
    }
}
