@import '../index';


$friendsWrapWidth: 350px;
$plusButtonSize  : 40px;

.page-home{

    .form{
        @extend %form;
    }
    
    .page-wrap{
        @extend %page-wrap !optional;
        @include pageWrapperTheme($grayMain);
        @include row(0px);
        padding: 0;
        grid-template-columns: auto $friendsWrapWidth;

        .section{
            @include column(30px);
            padding: 50px 50px;
            box-sizing: border-box;
            grid-template-rows: max-content auto max-content;

            .row:first-child{
                @include row(0px);
                padding-bottom: 30px;
                border-bottom: 2px solid $grayBorder;
            }

            .row:nth-child(2){
                @include column(15px);
                grid-template-rows: max-content max-content;
            }
        }

        .aside{
            @include column(0px);
            grid-template-rows: max-content 700px auto;
            background: $white;

            .row:nth-child(1){
                @include row(30px);
                grid-template-columns: max-content max-content;
                background: $white;
                padding: 20px;
                border-bottom: 2px solid $black;

                div{
                    @include flex(center, center);
                }

                h1{
                    font-size: 34px;
                }
            }

            .friends-wrap{
                overflow-y: auto;

                .friend{
                    @include row(15px);
                    grid-template-columns: 100px auto;
                    border-bottom: 2px solid;
                    height: 84px;
                    background: $grayMain;

                    & > div:nth-child(2){
                        @include column(10px);
                        padding: 10px 0px;
                        box-sizing: border-box;

                        & > div{
                            @include flex(flex-start, center);
                        }

                        .login span{
                            font-size: 22px;
                            font-weight: 600;
                        }

                        .online{
                            color: $green;
                        }

                        .offline{
                            color: $red;
                        }

                        span{
                            font-size: 23px;
                        }
                    }

                    .avatar{
                        @include backImage();
                        height: calc(100% - 1px);
                    }
                }

                .friend:last-child{
                    height: 86px;
                    border-bottom: 0px solid;
                }
            }
        }
    }

    .btn{
        @extend %btn !optional;
        @include buttonTheme();
    }

    .btn-error{
        @include buttonTheme($red, $white, $redHover, $white);
    }

    .new-project-btn{
        @include row(30px);

        width: max-content;
        padding: 15px 25px;
        font-size: 26px;

        span:first-child{
            display: block;
            width: $plusButtonSize ;
            position: relative;

            &:before{
                @extend %pseudoElement;
                @include pseudoElementTheme($plusButtonSize , 2px, #fff);
                top: 14px;
            }

            &:after{
                @extend %pseudoElement;
                @include pseudoElementTheme(2px, $plusButtonSize, #fff);
                left: $plusButtonSize / 2 - 1;
                top: -4px;
            }
        }

        &:hover{
            span:before{
                transition: 0.4s;
                background: $black;
            }

            span:after{
                transition: 0.4s;
                background: $black;
            }
        }
    }

    .new-friend-btn{
        @extend %btn-plus !optional;
    }

    .more-friends-btn{
        width: 100%;
        height: 100%;
        font-size: 28px;
        border-top: 2px solid $black;
    }
}

.projects-wrap{

    border-spacing: 0px;
    
    th{
        @include th($blue, $white, 21px);
    }

    td{
        @include td($white, $black, 18px);
    }

    td:nth-child(2){
        @include flex(center, center);
        padding: 0px;

        div{
            width: 70px;
            @include backImage();
            min-height: 56px;
        }
    }
    
    td:last-child{
        padding-top: 0px;
        padding-bottom: 0px;

        div{
            @include row(5px);
            grid-template-columns: max-content max-content;
            justify-content: center;

            a{
                display: block;
                width: 30px;

                img{
                    width: 100%;
                }
            }
        } 
    }
}

.project-view{
    @include column(30px);

    .col-1{
        @include row(50px);

        .row:nth-child(1){
            @include column(20px);

            div.project-img{
                height: 100%;
                width: 450px;
                @include backImage();
            }
        }

        .row:nth-child(2){
            @include column(20px);

            .wrap-header{
                @include flex(flex-start, center);
                height: 60px;
                
                h2{
                    text-align: left;
                }
            }

            .project-grid-view{
                @extend %grid-view;
            }
        }

        .row:nth-child(3){
            height: max-content;
            @include column(20px);

            .coll-header{
                @include row(20px);
                align-items: center;

                h2{
                    height: max-content;
                }

                .btn{
                    @extend %btn-plus !optional;
                }
            }
            
            .collaborators-wrap{
                @include column(20px);
                max-height: 607px;
                overflow-y: auto;
            }

            .collaborator{
                @include row(15px);
                grid-template-columns: 60px auto;
                height: 60px;
                background: $white;

                & > div:nth-child(2){
                    @include flex(flex-start, center);
                    font-size: 21px;
                    font-weight: 600px;
                }

                .avatar{
                    @include backImage();
                    height: calc(100% - 1px);
                }

                div.close{
                    
                }
            }
        }
    }

    .col-2{
        @include row(0px);
        justify-content: flex-start;
    }
}


.action-add-wrap{
    
    @include column(30px);
    justify-content: flex-start;

    > div{
        @include row(30px);
        justify-content: flex-start
    }

    .row-2{
        grid-template-columns: 450px 450px;

        div{
            @include flex(flex-start, center);
        }

        h3{
            font-size: 23px;
        }
    }

    .row-3{
        $heigthUser: 55px;
        grid-template-columns: 450px 450px;
        height: 450px;
        overflow-y: auto;

        .search-result-wrap{
            @include column(15px);
            height: 100%;
            box-sizing: border-box;
            grid-template-rows: repeat(auto-fit, $heigthUser);
            border-right: 2px dashed $black;
            padding-right: 30px;
        }

        .new-users{
            @include column(15px);
            height: 100%;
            box-sizing: border-box;
            grid-template-rows: repeat(auto-fit, $heigthUser);
        }

        .user{
            cursor: grab;

            @include row(10px);
            justify-content: flex-start;
            background: $white;

            .avatar{
                @include backImage();
                height: $heigthUser;
                width: $heigthUser;
            }

            .name{
                line-height: $heigthUser;
                box-sizing: border-box;
                font-size: 21px;
                font-weight: 600;
                user-select: none;
            }
        }
    }
}