@import '../index';

$friendsWrapWidth: 350px;
$plusButtonSize  : 40px;

.page-home{
    
    .page-wrap{
        @extend %page-wrap !optional;
        @include pageWrapperTheme($grayMain);
        @include row(0px);
        padding: 0;
        grid-template-columns: auto $friendsWrapWidth;

        .section{
            padding: 50px 60px;
            @include column(30px);
            grid-template-rows: max-content auto max-content;

            .row:first-child{
                @include row(0px);
                padding-bottom: 30px;
                border-bottom: 2px solid $black;
            }

            .row:nth-child(2){
                @include column(0px);
            }
        }

        .aside{
            @include column(0px);
            grid-template-rows: max-content 700px auto;
            background: $white;

            .row:nth-child(1){
                @include row(30px);

                grid-template-columns: max-content max-content;
                background: $white;
                padding: 20px;
                border-bottom: 2px solid $black;

                div{
                    @include flex(center, center);
                }

                h1{
                    font-size: 34px;
                }
            }

            .friends-wrap{
                overflow-y: auto;

                .friend{
                    @include row(15px);
                    grid-template-columns: 100px auto;
                    border-bottom: 2px solid;
                    height: 84px;
                    background: $grayMain;

                    & > div:nth-child(2){
                        @include column(10px);
                        padding: 10px 0px;
                        box-sizing: border-box;

                        & > div{
                            @include flex(flex-start, center);
                        }

                        .login span{
                            font-size: 22px;
                            font-weight: 600;
                        }

                        .online{
                            color: $green;
                        }

                        .offline{
                            color: $red;
                        }

                        span{
                            font-size: 23px;
                        }
                    }

                    .avatar{
                        @include backImage();
                        height: calc(100% - 1px);
                    }
                }

                .friend:last-child{
                    height: 86px;
                    border-bottom: 0px solid;
                }
            }
        }
    }

    .btn{
        @extend %btn !optional;
        @include buttonTheme();
    }

    .new-project-btn{
        @include row(30px);

        width: max-content;
        padding: 15px 25px;
        font-size: 26px;

        span:first-child{
            display: block;
            width: $plusButtonSize ;
            position: relative;

            &:before{
                @extend %pseudoElement;
                @include pseudoElementTheme($plusButtonSize , 2px, #fff);
                top: 14px;
            }

            &:after{
                @extend %pseudoElement;
                @include pseudoElementTheme(2px, $plusButtonSize, #fff);
                left: $plusButtonSize / 2 - 1;
                top: -4px;
            }
        }
    }

    .new-friend-btn{
        position: relative;
        width: 60px;
        height: 60px;
        padding: 20px;

        &:before{
            @extend %pseudoElement;
            @include pseudoElementTheme(40px, 2px, #fff);
            top: 29px;
            left: 11px;
        }

        &:after{
            @extend %pseudoElement;
            @include pseudoElementTheme(2px, 40px, #fff);
            top: 11px;
            left: 29px;
        }
    }

    .more-friends-btn{
        width: 100%;
        height: 100%;
        font-size: 28px;
        border-top: 2px solid $black;
    }
}