@import '../index';

$projectButtonsWrapHeight: 50px;
$elemsWrapWidth          : 294px;
$usersWrapHeight         : 70px;
$drawButtonsWrapWidth    : 70px;


.page-project{
    
    .page-wrap{
        @extend %page-wrap !optional;
        @include pageWrapperTheme($white);
        padding: 0px;
        position: relative;

        .project-buttons-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100vw - #{$elemsWrapWidth});
            height: $projectButtonsWrapHeight;
            background: $blueHover;
            box-sizing: border-box;
            border-bottom: 2px solid $grayBorder;
        }

        .draw-buttons-wrap{
            position: absolute;
            top: $projectButtonsWrapHeight;
            left: 0;
            height: calc(100% - #{$projectButtonsWrapHeight});
            width: $drawButtonsWrapWidth;
            background: $grayMain;
            border-right: 2px solid $grayBorder;
            
            .draw-button{
                padding: 12px;
                background: $white;
                border-bottom: 2px solid $grayBorder;
                cursor: pointer;

                &:hover{
                    transition: 0.4s;
                    background: $blueHover;
                }

                img{
                    width: 100%;
                }
            }

            .active-draw-button{
                background: $blue;
            }

        }

        .users-wrap{
            position: absolute;
            bottom: 0;
            left: $drawButtonsWrapWidth + 2px;
            width: calc(100vw - #{$elemsWrapWidth} - #{$drawButtonsWrapWidth});
            height: $usersWrapHeight;
            border-top: 2px solid $grayBorder;
            background: $blueHover;
            @include row(10px);
            grid-auto-columns: max-content;
            align-items: center;
            padding-left: 10px;

            .user{
                width: 50px;
                height: 50px;
                box-sizing: border-box;
                border: 2px solid $grayBorder;
                cursor: pointer;
                background: $white;
                @include flex(center, center);

                .avatar{
                    @include backImage();
                    height: 100%;
                    width: 100%;
                }

                span{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .elems-wrap{
            position: absolute;
            right: 0;
            top: 0;
            background: $grayMain;
            width: $elemsWrapWidth;
            height: 100%;
            box-sizing: border-box;
            border-left: 2px solid $grayBorder;
        }

        canvas{
            position: absolute;
            top: $projectButtonsWrapHeight;
            left: $drawButtonsWrapWidth;
            overflow: auto;

            // width: calc(100% - #{$elemsWrapWidth} - #{$drawButtonsWrapWidth});
            // height: calc(100% - #{$usersWrapHeight} - #{$projectButtonsWrapHeight});
        }

        #canvas-main{
            z-index: 2;
        }

        #canvas-animate{
            z-index: 1;
        }
    }
}