@import '../index';

$projectButtonsWrapHeight: 60px;
$elemsWrapWidth          : 294px;
$usersWrapHeight         : 70px;
$drawButtonsWrapWidth    : 70px;


@mixin menu {
    position: absolute;
    top: $projectButtonsWrapHeight - 2px;
    background: $blueHover;
    border: 2px solid $grayBorder;
    z-index: 9999;

    .row{
        @include row(20px);
        grid-template-columns: 160px auto;

        border-bottom: 2px solid $grayBorder;
        box-sizing: border-box;
        padding: 15px 20px;

        span{
            font-size: 20px;
            text-align: left;
        }

        &:last-child{
            border-bottom: 0px solid $grayBorder;
        }
    }
}


.page-project{
    
    .page-wrap{
        @extend %page-wrap !optional;
        @include pageWrapperTheme($white);
        padding: 0px;
        position: relative;

        .settings-menu{
            @include menu;
            left: 135px;
        }

        .export-menu{
            @include menu;
            left: 470px;

            .row:hover{
                cursor: pointer;
                background: $white;
                transition: 0.4s;
            }
        }
        
        .import-menu{
            @include menu;
            left: 335px;
            padding: 20px;
            box-sizing: border-box;

            form{
                span{
                    display: block;
                    border: 2px dashed #000;
                    padding: 100px;
                    background: $white;
                    font-size: 18px;
                }
            }

            .form-active{
                span{
                    color: $blue;
                }
            }
        }

        .project-buttons-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100vw - #{$elemsWrapWidth});
            height: $projectButtonsWrapHeight;
            background: $blueHover;
            box-sizing: border-box;
            border-bottom: 2px solid $grayBorder;
            box-sizing: border-box;
            padding-left: 30px;
        
            @include row(0px);
            justify-content: flex-start;

            .settings-button{
                @include row(15px);
                align-items: center;
                cursor: pointer;

                img {
                    width: 35px;
                }

                span{
                    font-size: 19px;
                }

                &:hover{
                    transition: 0.4s;
                    background: $blue;
                }
            }

            .padding{
                padding: 0px 10px;
            }

            .border{
                border-right: 2px solid $black;
                padding: 0px 15px;

                img{
                    width: 30px;
                }
            }

            .first-border{
                margin-left: 30px;
                border-left: 2px solid $black;
            }
        }

        .draw-buttons-wrap{
            position: absolute;
            top: $projectButtonsWrapHeight;
            left: 0;
            height: calc(100% - #{$projectButtonsWrapHeight});
            width: $drawButtonsWrapWidth;
            background: $grayMain;
            border-right: 2px solid $grayBorder;
            
            .draw-button{
                padding: 12px;
                background: $white;
                border-bottom: 2px solid $grayBorder;
                cursor: pointer;
                box-sizing: border-box;
                height: 75px;
                display: flex;
                align-items: center;

                &:hover{
                    transition: 0.4s;
                    background: $blueHover;
                }

                img{
                    width: 100%;
                }
            }

            .active-draw-button{
                background: $blue;
            }

        }

        .users-wrap{
            position: absolute;
            bottom: 0;
            left: $drawButtonsWrapWidth + 2px;
            width: calc(100vw - #{$elemsWrapWidth} - #{$drawButtonsWrapWidth});
            height: $usersWrapHeight;
            border-top: 2px solid $grayBorder;
            background: $blueHover;
            @include row(10px);
            grid-auto-columns: max-content;
            align-items: center;
            padding-left: 10px;

            .user{
                width: 50px;
                height: 50px;
                box-sizing: border-box;
                border: 2px solid $grayBorder;
                cursor: pointer;
                background: $white;
                @include flex(center, center);

                .avatar{
                    @include backImage();
                    height: 100%;
                    width: 100%;
                }

                span{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .elems-wrap{
            position: absolute;
            right: 0;
            top: 0;
            background: $grayMain;
            width: $elemsWrapWidth;
            height: 100%;
            box-sizing: border-box;
            border-left: 2px solid $grayBorder;
            z-index: 9999;
            overflow: auto;

            .item{
                @include row(10px);
                grid-template-columns: 50px auto 27px;
                padding: 15px;
                background: $white;
                align-items: center;
                border-bottom: 2px solid $grayBorder;

                span{
                    text-align: left;
                    font-size: 23px;
                }

                .settings{
                    @include column(5px);
                    justify-content: center;
                    grid-template-columns: 100%;

                    img{
                        cursor: pointer;
                        width: 100%;
                    }

                    .non-visible{

                        position: relative;

                        &:before{
                            @extend %pseudoElement !optional;
                            background: $red;
                            width: 30px;
                            height: 3px;
                            transform: rotate(120deg);
                            top: 13.5px;
                            left: 0px;
                        }
                    }
                }
            }

            .shape-menu{
                position: fixed;
                right: $elemsWrapWidth - 2px;
                transform: translateY(-17px);
                background: $white;
                border: 2px double $grayBorder;

                .row{
                    padding: 20px;
                }
            }
        }

        .work-area{
            position: absolute;
            top: $projectButtonsWrapHeight;
            left: $drawButtonsWrapWidth + 2px;
            background: $grayMain;
            overflow: auto;

            width: calc(100% - #{$elemsWrapWidth} - #{$drawButtonsWrapWidth} - 2px);
            height: calc(100% - #{$usersWrapHeight} - #{$projectButtonsWrapHeight} - 2px);

            // ! fix width and height in future
            div{
                position: relative;
                width: 1200px;
                height: 700px;
                background: $white;
                overflow: auto;
                outline: 2px solid $grayBorder;

                canvas{
                    position: absolute;
                    top: 0;
                    left: 0;      
                }

                #canvas-main{
                    z-index: 1;
                }

                #canvas-animate{
                    z-index: 2;
                }
            }
            
        }
    }
}