@import '../base/config.scss';
@import '../utils/pseudoElement.scss';
@import '../utils/themes/pseudoElementTheme.scss';

%btn{
    width: 300px;
    padding: 15px 0px;
    text-align: center;
    font-size: 20px;
    border: 0;
    cursor: pointer;

    &:focus{
        outline: 0px solid;
    }
}

%btn-plus{
    position: relative;
    width: 60px;
    height: 60px;
    padding: 20px;

    &:before{
        @extend %pseudoElement;
        @include pseudoElementTheme(40px, 2px, #fff);
        top: 29px;
        left: 11px;
    }

    &:after{
        @extend %pseudoElement;
        @include pseudoElementTheme(2px, 40px, #fff);
        top: 11px;
        left: 29px;
    }

    &:hover{
        &:before{
            transition: 0.4s;
            background: $black;
        }

        &:after{
            transition: 0.4s;
            background: $black;
        }
    }
}