@import '../utils/flex.scss';
@import '../utils/backImage.scss';
@import '../base/colors.scss';
    
.menu{
    display: grid;
    background: $white;
    border-bottom: 2px solid $grayBorder;
    height: $menuHeigth;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 80px auto max-content;
    z-index: 9996;
}

.col:nth-child(1){
    @include flex(center, center);
}

.col:nth-child(3){
    display: flex;
    position: relative;

    .notific{
        @include flex(center, center);

        padding: 0px 5px;
        border-left: 1px solid #C2BFBF;
        border-right: 1px solid #C2BFBF;

        img{
            width: 48px;
        }
    }
    
    .user-identity{
        height: 100%;
        display: flex;
        cursor: pointer;

        &:hover{
            color: #2ECCEF;
            transition: 0.4s;
        }
        
        & div{
            height: 100%;
        }

        .user-login{
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;

            span{
                display: flex;
                position: relative;

                &::before{
                    content: "\2039";
                    display: block;
                    margin-right: 8px;
                    transform: rotate(-90deg);
                    font-size: 18px;
                }
            }
        }

        .user-avatar{
            @include backImage();
            width: $menuHeigth;
        }
    }

    .user-menu{
        position: absolute;
        top: $menuHeigth + 2px;
        right: $menuHeigth;
        border-left: 1px solid #C2BFBF;
        border-right: 1px solid #C2BFBF;
        border-bottom: 1px solid #C2BFBF;
        font-size: 18px;
        z-index: 10;

        li{
            display: block;
            width: 229px;
            box-sizing: border-box;
            background: #fff;
            list-style: none;
            cursor: pointer;

            .user-show-link{
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
                padding: 15px 0px;

                &:hover{
                    transition: 0.4s;
                    background: #AAE0F8;
                }
            }

            &:nth-child(2){
                border-bottom: 1px solid #C2BFBF;
                border-top: 1px solid #C2BFBF;
            }

            &:nth-child(3){
                border-bottom: 1px solid #C2BFBF;
            }
        }
    }

    .userShow-enter-active, .userShow-leave-active {
        transition: opacity 0.2s ease;
    }

    .userShow-enter-from, .userShow-leave-to {
        opacity: 0;
    }
}