@import 'searchForm.scss';

%projectsSectionHeader{

    @include row(15px);
    grid-template-columns: auto repeat(4, max-content);
    padding-bottom: 30px;
    border-bottom: 2px solid $grayBorder;

    @mixin header-border(){
        outline: 1.5px solid $grayBorder;
    }

    .section-header-btn{
        @include flex(center, center);
        @include header-border();
        background: $white;
        box-sizing: border-box;
        padding: 8px;
        width: 61px;
        user-select: none;
        cursor: pointer;

        img{
            width: 100%;
        }

        &:hover{
            background: $blueHover;
            transition: 0.4s;
        }
    }

    .section-header-active{
        outline: 2.5px solid $blue;
    }

    .search-header{

        form{
            @include header-border();
            @extend %searchForm !optional;
        }
    }


    .select-header{

        @include row(10px);
        height: 100%;
        padding: 0 15px;
        background: $white;
        @include header-border();

        div{
            @include flex(center, center);
            height: 100%;
        }

        img{
            width: 30px;
        }
        
        &:focus-within{
            transition: 0.4s;
            outline-color: $blue;
        }

        select{
            padding: 15px 15px;
            box-sizing: border-box;
            height: 100%;
            outline: 0;
            border: 0;
            font-size: 20px;
            appearance: none;

            &:focus{
                outline: none;
            }
            
            // option{
            //     display: block;
            //     padding: 0px 15px;
            // }
        }
    }
}         
                