
@import '../utils/tableView.scss';

%tableProjects{
    width: 100%;
    border-spacing: 0px;
    
    th{
        @include th($blue, $white, 21px);
    }

    td{
        @include td($white, $black, 18px);
    }

    td:nth-child(2){
        @include flex(center, center);
        padding: 0px;

        div{
            width: 70px;
            @include backImage();
            min-height: 56px;
        }
    }
    
    .options{
        padding-top: 0px;
        padding-bottom: 0px;

        div{
            @include row(5px);
            grid-template-columns: max-content max-content;
            justify-content: center;

            a{
                display: block;
                width: 30px;

                img{
                    width: 100%;
                }
            }
        } 
    }

    td.own{
        color: $blue;
    }
}