@import '../utils/layout/row.scss';
@import '../utils/layout/column.scss';
@import '../utils/flex.scss';
@import '../utils/backImage.scss';
@import '../base/colors.scss';


%userItem{
    @include row(15px);
    grid-template-columns: 100px auto;
    height: 84px;
    background: $white;
    position: relative;

    & > div:nth-child(2){
        @include column(10px);
        padding: 10px 0px;
        box-sizing: border-box;

        & > div{
            @include flex(flex-start, center);
        }

        .login span{
            font-size: 22px;
            font-weight: 600;
        }

        .online{
            color: $green;
        }

        .offline{
            color: $red;
        }

        span{
            font-size: 23px;
        }
    }

    .avatar{
        @include backImage();
        height: calc(100% - 1px);
    }

    .btn-wrap{
        position: absolute;
        right: 5px;
        top: 5px;
        
        button{
            @extend %btn-plus !optional;
        }
    }

    .contex-menu{
        position: fixed;
        top: 600px;
        right: 30px;
        background: $white;
        border: 2px solid $grayBorder;

        @include column(0px);
        width: 250px;
        z-index: 1;

        .item-link{
            padding: 25px 20px;
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            border-bottom: 2px solid $grayBorder;

            @include row(15px);
            grid-template-columns: max-content auto;
            align-items: center;
           
            span{
                font-size: 17px;
                text-align: left;
            }

            img{
                width: 30px;
            }

            &:hover{
                transition: 0.4s;
                background: $blueHover;
            }

            &:last-child{
                border-bottom: 0px solid;
            }
        }
    }

    .userMenuShow-enter-active, .userShow-leave-active {
        transition: opacity 0.2s ease;
    }

    .userMenuShow-enter-from, .userShow-leave-to {
        opacity: 0;
    }
}