@import '../../index';

.page-add-friends{
    @extend %page-wrap !optional;
    @include pageWrapperTheme($grayMain);
    @include column(20px);
    grid-template-rows: max-content auto;

    .form{
        @extend %form;
    }

    .page-header{
        text-align: left;
    }

    .page-wrap{
        @include row(40px);
        grid-template-columns: auto 600px;
    }

    .section{
        @include column(20px);
        grid-template-rows: auto max-content;

        .user-wrap{
            @include column(10px);
            height: max-content;
            max-height: 700px;
            overflow-y: auto;

            .user{
                @extend %userItem;

                .btn-wrap{
                    top: 12px;
                    right: 12px;
                }
            }
        }

    }

    .aside{
        height: max-content;

        form{
            box-sizing: border-box;
            padding: 30px;
            margin-bottom: 30px;
            background: $white;
        }

        .notifications-wrap{
            @include row(10px);
            grid-template-columns: 1fr 1fr;

            > div{
                @include column(15px);
                grid-template-rows: 30px auto;
            }

            .notification{
                width: 100%;
            }
        }
    }

    .btn{
        @extend %btn !optional;
        @include buttonTheme();
    }

}