@import '../../index';

.form{
    @extend %form;
}

.page-user-edit{
    
    .btn{
        @extend %btn;
        @include buttonTheme();
    }

    .btn-error{
        @extend %btn;
        @include buttonTheme($red, $white, $redHover);
    }

    .page-wrap{
        @extend %page-wrap;
        @include pageWrapperTheme($grayMain);
        display: grid;
        grid-template-columns: 400px auto 385px;
        column-gap: 50px;
    }

    .page-wrap h2{
        text-align: left;
        font-size: 29px;
    }

    .avatar-wrap{
        display: grid;
        height: max-content;

        .avatar{
            @include backImage();
            width: 100%;
            margin: 15px 0px 25px 0px;
            height: 400px;
        }

        .bth-avatar{
            width: 100%;
        }
    }

    .data-wrap{
        @include column(20px);
        grid-template-rows: 53px max-content max-content;
        align-items: center;

        h2{
            height: max-content;
        }
        
        .user-view{
            @extend %grid-view;
            margin: 0px 0px 18px 0px;
        }
    }

    .add-btn-wrap{
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 30px;
        position: absolute;
        bottom: 40px;
        left: 70px;
    }

    .data-from-wrap{
        display: grid;
        row-gap: 30px;

        .header{
            display: grid;
            justify-items: left;

            span{
                text-align: left;
                color: #2DBEFC;
                font-size: 20px;
            }
        }
    }

    .notific-wrap{
        @include column(20px);
        grid-template-rows: 53px auto;
        
        max-height: 100%;
        overflow-y: auto;

        .header{
            @include row(20px);
            grid-template-columns: auto 125px;
            align-items: center;

            button{
                width: 100%;
            }
        }

        .notifications-wrap{
            @include column(20px);
            grid-auto-rows: max-content;
            height: 100%;

            .notification{
                @extend %notification;
            }
        }
    }


    #fileForm{

        span{
            display: block;
            border: 2px dashed #000;
            padding: 100px;
            margin: 30px 0px;
        }

        img{
            width: 100%
        }
    }
}