@import '../../index';

.page-user-view{
    
    .page-wrap{
        @extend %page-wrap !optional;
        @include pageWrapperTheme($grayMain);
        @include row(60px);
        padding: 50px 50px;
        box-sizing: border-box;
        grid-template-columns: 1fr minmax(400px, 600px);

        .col-1{
            @include column(25px);
            grid-template-rows: max-content max-content auto;

            .col-1-header{
                @include row(20px);
                grid-template-columns: max-content max-content;
                align-items: center;
                text-align: left;
                margin-bottom: 15px;

                .add-friend-btn{
                    @extend %btn-plus !optional;
                }

                .del-friend-btn{
                    @extend %btn-minus !optional;
                }
            }

            .col-1-options{
                @extend %projectsSectionHeader;
                

                .search-header{

                    @include row(20px);
                    justify-content: left;

                    input{
                        width: 270px;
                    }

                    button{
                        width: 100px;
                        height: 100%;
                    }
                }
            }

            .projects-wrap{
                padding: 2px;
                box-sizing: border-box;
                max-height: 550px;
                overflow-y: auto;

                table{
                @extend %tableProjects !optional;
                }

                .projects-grid-wrap{
                    @extend %gridProjects !optional;
                }
            }

        }

        .col-2{
            width: 100%;
            @include column(25px);
            grid-template-rows: max-content max-content max-content;

            h1{
                text-align: left;
            }

            .friends-wrap{
                @include column(10px);
                max-height: 600px;
                width: 100%;
                overflow-y: auto;

                .friend{
                    @extend %userItem;
                }

            }

            .button-wrap{
                @include flex(flex-start, center);
            }
        }
    }

    .btn{
        @extend %btn !optional;
        @include buttonTheme();
    }
}