$white     : #fff;
$black     : #000;
$grayMain  : #EFEFF5;
$grayAdd   : #D8D8DD; 
$grayBorder: #C2BFBF;
$red       : #F50A0A;
$green     : #1EA53C;
$blue      : #2DBEFC;


$blueHover: #AAE0F8;
$redHover : #a31f1f;