
//! colors
$white     : #fff;
$black     : #000;
$mainGray  : #EFEFF5;
$addGray   : #D8D8DD; 
$borderGray: #C2BFBF;
$red       : #F50A0A;
$green     : #1EA53C;
$blue      : #2DBEFC;

//!variables
$menuHeigth : 62px;
$borderBig  : 2px;
$borderSmall: 1px;